In [1]:
spark.version

Intitializing Scala interpreter ...

Spark Web UI available at http://DESKTOP-OMG45KP.mshome.net:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1659964600500)
SparkSession available as 'spark'

res0: String = 3.3.0

In [2]:
%%html
<style>
div.output_area pre {
    white-space: pre;
}
</style>

<h1 style="color: gray;">String Methods</h1>

In [3]:
import org.apache.spark.sql.functions._
import org.apache.spark.sql.Column
import org.apache.spark.sql.DataFrame
scala.collection.mutable.Map

val df = spark.sql("""
SELECT 
'    This is my long long text, so do not bother me    ' AS description
""")
df.show(false)

var dfStringTransformations = Map(("original" -> col("description")))
dfStringTransformations += ("initcap" -> initcap(col("description")).as("initcap"))
dfStringTransformations += ("concat" -> concat(lit("Fool"), col("description")).as("concat"))
dfStringTransformations += ("lower" -> lower(col("description")).as("lower"))
dfStringTransformations += ("upper" -> upper(col("description")).as("upper"))
dfStringTransformations += ("ltrim" -> ltrim(col("description")).as("ltrim"))
dfStringTransformations += ("rtrim" -> rtrim(col("description")).as("rtrim"))
dfStringTransformations += ("trim" -> trim(col("description")).as("trim"))
dfStringTransformations += ("lpad" -> lpad(col("description"),  100, "x").as("lpad"))
dfStringTransformations += ("rpad" -> rpad(col("description"),  100, "x").as("rpad"))
dfStringTransformations += ("regexString" -> regexp_replace(col("description"), "This", "COLOR").alias("regexString"))
dfStringTransformations += ("translate" -> translate(col("description"), "This", "1337").as("translate"))
dfStringTransformations += ("contains"-> col("description").contains("BLACK").as("contains"))
dfStringTransformations += ("split" -> split(col("description"), " ").as("split"))

val transformations = (for ((key, value) <- dfStringTransformations) yield dfStringTransformations(key)).toSeq
df.select(transformations: _*).show(false)

22/08/08 08:16:54 WARN ProcfsMetricsGetter: Exception when trying to compute pagesize, as a result reporting of ProcessTree metrics is stopped
+------------------------------------------------------+
|description                                           |
+------------------------------------------------------+
|    This is my long long text, so do not bother me    |
+------------------------------------------------------+

+--------------------------------------------------+--------------------------------------------------+------------------------------------------------------+----------------------------------------------------------+------------------------------------------------------+------------------------------------------------------+-------------------------------------------------------+--------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------+--------+
|ltrim                                             |rtrim                                             |initcap                                               |concat                                                    |lower                                                 |upper                                                 |regexString                                            |split                                                                     |translate                                             |lpad                                                                                                |description                                           |rpad                                                                                                |trim                                          |contains|
+--------------------------------------------------+--------------------------------------------------+------------------------------------------------------+----------------------------------------------------------+------------------------------------------------------+------------------------------------------------------+-------------------------------------------------------+--------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------+--------+
|This is my long long text, so do not bother me    |    This is my long long text, so do not bother me|    This Is My Long Long Text, So Do Not Bother Me    |Fool    This is my long long text, so do not bother me    |    this is my long long text, so do not bother me    |    THIS IS MY LONG LONG TEXT, SO DO NOT BOTHER ME    |    COLOR is my long long text, so do not bother me    |[, , , , This, is, my, long, long, text,, so, do, not, bother, me, , , , ]|    1337 37 my long long text, 7o do not bot3er me    |xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    This is my long long text, so do not bother me    |    This is my long long text, so do not bother me    |    This is my long long text, so do not bother me    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx|This is my long long text, so do not bother me|false   |
+--------------------------------------------------+--------------------------------------------------+------------------------------------------------------+----------------------------------------------------------+------------------------------------------------------+------------------------------------------------------+-------------------------------------------------------+--------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------+--------+

import org.apache.spark.sql.functions._
import org.apache.spark.sql.Column
import org.apache.spark.sql.DataFrame
df: org.apache.spark.sql.DataFrame = [description: string]
dfStringTransformations: scala.collection.immutable.Map[String,org.apache.spark.sql.Column] = Map(ltrim -> ltrim(description) AS ltrim, rtrim -> rtrim(description) AS rtrim, initcap -> initcap(description) AS initcap, concat -> concat(Fool, description) AS concat, lower -> lower(description) AS lower, upper -> upper(description) AS upper, regexString -> regexp_replace(description, This, COLOR, 1) AS regexString, split -> split(description,  , -1) AS split, translate -> translate(description, This, 1337) AS translate, lpad -> lpad(description, 100, x) AS lpad, original -> description, rpad -> rpad(description, 100,...

<h1 style="color: gray;">Numerical Methods</h1>

In [4]:
import org.apache.spark.sql.functions._
import org.apache.spark.sql.Column
import org.apache.spark.sql.DataFrame
scala.collection.mutable.Map
var df = (sc.parallelize(1 to 100)).toDF("value").select((lit(1)+col("value")/10).as("value"))
df.show(false)
var dfStringTransformations = Map(("original" -> col("value")))
dfStringTransformations += ("pow" -> (pow(col("value"), 2)+5).as("pow"))
dfStringTransformations += ("brown" -> bround(col("value")).as("brown"))
dfStringTransformations += ("round" -> round(col("value")).as("round"))

val transformations = (for ((key, value) <- dfStringTransformations) yield dfStringTransformations(key)).toSeq
df = df.select(transformations: _*)
df.show(false)

+-----+
|value|
+-----+
|1.1  |
|1.2  |
|1.3  |
|1.4  |
|1.5  |
|1.6  |
|1.7  |
|1.8  |
|1.9  |
|2.0  |
|2.1  |
|2.2  |
|2.3  |
|2.4  |
|2.5  |
|2.6  |
|2.7  |
|2.8  |
|2.9  |
|3.0  |
+-----+
only showing top 20 rows

+-----+------------------+-----+-----+
|value|pow               |brown|round|
+-----+------------------+-----+-----+
|1.1  |6.21              |1.0  |1.0  |
|1.2  |6.4399999999999995|1.0  |1.0  |
|1.3  |6.69              |1.0  |1.0  |
|1.4  |6.96              |1.0  |1.0  |
|1.5  |7.25              |2.0  |2.0  |
|1.6  |7.5600000000000005|2.0  |2.0  |
|1.7  |7.89              |2.0  |2.0  |
|1.8  |8.24              |2.0  |2.0  |
|1.9  |8.61              |2.0  |2.0  |
|2.0  |9.0               |2.0  |2.0  |
|2.1  |9.41              |2.0  |2.0  |
|2.2  |9.84              |2.0  |2.0  |
|2.3  |10.29             |2.0  |2.0  |
|2.4  |10.76             |2.0  |2.0  |
|2.5  |11.25             |2.0  |3.0  |
|2.6  |11.760000000000002|3.0  |3.0  |
|2.7  |12.290000000000001|3.0  |3.0  |
|2.8  |12.84             |3.0  |3.0  |
|2.9  |13.41             |3.0  |3.0  |
|3.0  |14.0              |3.0  |3.0  |
+-----+------------------+-----+-----+
only showing top 20 rows

import org.apache.spark.sql.functions._
import org.apache.spark.sql.Column
import org.apache.spark.sql.DataFrame
df: org.apache.spark.sql.DataFrame = [value: double, pow: double ... 2 more fields]
dfStringTransformations: scala.collection.immutable.Map[String,org.apache.spark.sql.Column] = Map(original -> value, pow -> (POWER(value, 2.0) + 5) AS pow, brown -> bround(value, 0) AS brown, round -> round(value, 0) AS round)
transformations: Seq[org.apache.spark.sql.Column] = List(value, (POWER(value, 2.0) + 5) AS pow, bround(value, 0) AS brown, round(value, 0) AS round)
df: org.apache.spark.sql.DataFrame = [value: double, pow: double ... 2 more fields]

<h1 style="color: gray;">Statistical Methods</h1>

In [81]:
import org.apache.spark.sql.functions.{count, mean, stddev_pop, min, max} //same as the values that outputs describe

var df = (sc.parallelize(1 to 100)).toDF("value").select(col("value").as("initial"), (lit(1)+lit(1)/col("value")).as("value"))
df.show(false)
df.select(corr("value", "initial").as("corr")).show(false) //Pearson Correlation. Agg function over data.
df.select(covar_pop("value", "initial").as("cov")).show(false) //Covariance. + both variables increases, - one of the variable increase while the other decrease
println("Describe()")
df.describe().show() // describe all columns
println("Describe('initial', 'value')")
df.describe("initial", "value").show() // describe one column
println("aproxQuantile: " + df.stat.approxQuantile("initial", Array(0.5), 0.25)(0)) // col: base column of calculation, probabilities: 0 is the min, 0.5 is the mean, 1 is the max. relativeError: 0, exact quantiles are calculated (very expensive). output is a list
println()

val dfString = sc.parallelize(
    Seq(
        ("Vivi", "milk"),
        ("Vivi", "suggar"),
        ("Vivi", "milk"),
        ("Ivy", "milk"),
        ("Dandy", "coffee")
    )
).toDF("name", "product")
println("crosstab")
dfString.stat.crosstab("name", "product").show() // Table of the frequency distribution for a set of variables.
dfString.select(col("*"), monotonically_increasing_id()).show(false) //unique ID for each row

+-------+------------------+
|initial|value             |
+-------+------------------+
|1      |2.0               |
|2      |1.5               |
|3      |1.3333333333333333|
|4      |1.25              |
|5      |1.2               |
|6      |1.1666666666666667|
|7      |1.1428571428571428|
|8      |1.125             |
|9      |1.1111111111111112|
|10     |1.1               |
|11     |1.0909090909090908|
|12     |1.0833333333333333|
|13     |1.0769230769230769|
|14     |1.0714285714285714|
|15     |1.0666666666666667|
|16     |1.0625            |
|17     |1.0588235294117647|
|18     |1.0555555555555556|
|19     |1.0526315789473684|
|20     |1.05              |
+-------+------------------+
only showing top 20 rows

+--------------------+
|corr                |
+--------------------+
|-0.48008520148401124|
+--------------------+

+-------------------+
|cov                |
+-------------------+
|-1.6196256464080074|
+-------------------+

Describe()
+-------+------------------+------------------+
|summary|           initial|             value|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              50.5|1.0518737751763962|
| stddev|29.011491975882016|0.1174602896611035|
|    min|                 1|              1.01|
|    max|               100|               2.0|
+-------+------------------+------------------+

Describe('initial', 'value')
+-------+------------------+------------------+
|summary|           initial|             value|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              50.5|1.0518737751763962|
| stddev|29.011491975882016|0.1174602896611035|
|    min|                 1|              1.01|
|    max|               100|               2.0|
+-------+------------------+------------------+

aproxQuantile: 42.0

crosstab
+------------+------+----+------+
|name_product|coffee|milk|suggar|
+------------+------+----+------+
|        Vivi|     0|   2|     1|
|         Ivy|     0|   1|     0|
|       Dandy|     1|   0|     0|
+------------+------+----+------+

+-----+-------+-----------------------------+
|name |product|monotonically_increasing_id()|
+-----+-------+-----------------------------+
|Vivi |milk   |17179869184                  |
|Vivi |suggar |34359738368                  |
|Vivi |milk   |60129542144                  |
|Ivy  |milk   |77309411328                  |
|Dandy|coffee |94489280512                  |
+-----+-------+-----------------------------+

import org.apache.spark.sql.functions.{count, mean, stddev_pop, min, max}
df: org.apache.spark.sql.DataFrame = [initial: int, value: double]
dfString: org.apache.spark.sql.DataFrame = [name: string, product: string]

<h1 style="color: gray;">Dates and Timestamps</h1>

#### Different DataFormats

In [88]:
val df = Seq(1).toDF("seq").select(
    current_date().as("current_date"),
    date_format(current_timestamp(),"yyyy MM dd"),
    date_format(current_timestamp(),"MM/dd/yyyy hh:mm"),
    date_format(current_timestamp(),"yyyy MMM dd"),
    date_format(current_timestamp(),"yyyy MMMM dd E")
  )
df.printSchema
df.show(false)

root
 |-- current_date: date (nullable = false)
 |-- date_format(current_timestamp(), yyyy MM dd): string (nullable = false)
 |-- date_format(current_timestamp(), MM/dd/yyyy hh:mm): string (nullable = false)
 |-- date_format(current_timestamp(), yyyy MMM dd): string (nullable = false)
 |-- date_format(current_timestamp(), yyyy MMMM dd E): string (nullable = false)

+------------+--------------------------------------------+--------------------------------------------------+---------------------------------------------+------------------------------------------------+
|current_date|date_format(current_timestamp(), yyyy MM dd)|date_format(current_timestamp(), MM/dd/yyyy hh:mm)|date_format(current_timestamp(), yyyy MMM dd)|date_format(current_timestamp(), yyyy MMMM dd E)|
+------------+--------------------------------------------+--------------------------------------------------+---------------------------------------------+------------------------------------------------+
|2022-07-28  |2022 07 28                                  |07/28/2022 02:14                                  |2022 Jul 28                                  |2022 July 28 Thu                                |
+------------+--------------------------------------------+--------------------------------------------------+---------------------------------------------+------------------------------------------------+

df: org.apache.spark.sql.DataFrame = [current_date: date, date_format(current_timestamp(), yyyy MM dd): string ... 3 more fields]

#### Working with unix timestamp
Unix time is also known as Epoch time which specifies the moment in time since 1970-01-01 00:00:00 UTC. It is the number of seconds passed since Epoch time. Epoch time is widely used in Unix like operating systems.

##### Changing from timestamp to unix timestamp

In [93]:
var df = Seq(1).toDF("seq").select(current_timestamp().as("current_timestamp"))
df = df.select(
    col("current_timestamp"),
    unix_timestamp(col("current_timestamp")).as("unix_timestamp_column"),
    unix_timestamp(col("current_timestamp"),"MM-dd-yyyy HH:mm:ss").as("MM-dd-yyyy HH:mm:ss"),
    unix_timestamp(col("current_timestamp"),"MM-dd-yyyy").as("MM-dd-yyyy"),
    unix_timestamp().as("unix_timestamp")
)
df.printSchema
df.show(false)

root
 |-- current_timestamp: timestamp (nullable = false)
 |-- unix_timestamp_column: long (nullable = true)
 |-- MM-dd-yyyy HH:mm:ss: long (nullable = true)
 |-- MM-dd-yyyy: long (nullable = true)
 |-- unix_timestamp: long (nullable = true)

+--------------------------+---------------------+-------------------+----------+--------------+
|current_timestamp         |unix_timestamp_column|MM-dd-yyyy HH:mm:ss|MM-dd-yyyy|unix_timestamp|
+--------------------------+---------------------+-------------------+----------+--------------+
|2022-07-28 14:24:27.811971|1659036267           |1659036267         |1659036267|1659036267    |
+--------------------------+---------------------+-------------------+----------+--------------+

df: org.apache.spark.sql.DataFrame = [current_timestamp: timestamp, unix_timestamp_column: bigint ... 3 more fields]
df: org.apache.spark.sql.DataFrame = [current_timestamp: timestamp, unix_timestamp_column: bigint ... 3 more fields]

##### Changing from unix timestamp to timestamp

In [96]:
val df2 = df.select(
    from_unixtime(col("unix_timestamp_column"),"MM-dd-yyyy HH:mm:ss"),
    from_unixtime(col("unix_timestamp_column"),"yyyy/MM/dd HH:mm:ss"),
    from_unixtime(col("MM-dd-yyyy HH:mm:ss"),"MM-dd-yyyy"),
    from_unixtime(col("MM-dd-yyyy"))
)
df2.printSchema()
df2.show(false)

root
 |-- from_unixtime(unix_timestamp_column, MM-dd-yyyy HH:mm:ss): string (nullable = true)
 |-- from_unixtime(unix_timestamp_column, yyyy/MM/dd HH:mm:ss): string (nullable = true)
 |-- from_unixtime(MM-dd-yyyy HH:mm:ss, MM-dd-yyyy): string (nullable = true)
 |-- from_unixtime(MM-dd-yyyy, yyyy-MM-dd HH:mm:ss): string (nullable = true)

+---------------------------------------------------------+---------------------------------------------------------+----------------------------------------------+----------------------------------------------+
|from_unixtime(unix_timestamp_column, MM-dd-yyyy HH:mm:ss)|from_unixtime(unix_timestamp_column, yyyy/MM/dd HH:mm:ss)|from_unixtime(MM-dd-yyyy HH:mm:ss, MM-dd-yyyy)|from_unixtime(MM-dd-yyyy, yyyy-MM-dd HH:mm:ss)|
+---------------------------------------------------------+---------------------------------------------------------+----------------------------------------------+----------------------------------------------+
|07-28-2022 14:28:13                                      |2022/07/28 14:28:13                                      |07-28-2022                                    |2022-07-28 14:28:13                           |
+---------------------------------------------------------+---------------------------------------------------------+----------------------------------------------+----------------------------------------------+

df2: org.apache.spark.sql.DataFrame = [from_unixtime(unix_timestamp_column, MM-dd-yyyy HH:mm:ss): string, from_unixtime(unix_timestamp_column, yyyy/MM/dd HH:mm:ss): string ... 2 more fields]

##### Data Functions

In [123]:
var df = Seq(1).toDF().select(current_date().as("current_date"))
df = df.select(
    col("*"),
    add_months(col("current_date"), 24).as("add_months"), // ADD MONTHS
    date_add(col("current_date"), 1).as("date_add"), //ADD DAY
    date_sub(col("current_date"), 1).as("date_sub"), // SUB DAY
    datediff(col("current_date"),  date_sub(col("current_date"), 3)).as("datediff"), // RETURNS # DAYS
    months_between(add_months(col("current_date"), 24), col("current_date")).as("months_between"), // RETURN # MONTHS
    next_day(col("current_date"), "Monday").as("next_day"), //Which future day will be Monday
    trunc(col("current_date"), "yy").as("trunc"), //Returns date truncated to the unit specified by the format. For example, `trunc("2018-11-19 12:01:19", "year")` returns 2018-01-01 format: 'year', 'yyyy', 'yy' to truncate by year, 'month', 'mon', 'mm' to truncate by month
    date_trunc("yy", col("current_date")).as("date_trunc"), //SAME AS TRUNC
    year(col("current_date")).as("year"),
    quarter(col("current_date")).as("quarter"),
    month(col("current_date")).as("month"),
    dayofweek(col("current_date")).as("dayofweek"), // Ranges from 1 for a Sunday through to 7 for a Saturday
    dayofmonth(col("current_date")),
    dayofyear(col("current_date")),
    weekofyear(col("current_date")),
    last_day(col("current_date")), // last date of the current month of the current year
)

df.show()

+------------+----------+----------+----------+--------+--------------+----------+----------+-------------------+----+-------+-----+---------+------------------------+-----------------------+------------------------+----------------------+
|current_date|add_months|  date_add|  date_sub|datediff|months_between|  next_day|     trunc|         date_trunc|year|quarter|month|dayofweek|dayofmonth(current_date)|dayofyear(current_date)|weekofyear(current_date)|last_day(current_date)|
+------------+----------+----------+----------+--------+--------------+----------+----------+-------------------+----+-------+-----+---------+------------------------+-----------------------+------------------------+----------------------+
|  2022-07-28|2024-07-28|2022-07-29|2022-07-27|       3|          24.0|2022-08-01|2022-01-01|2022-01-01 00:00:00|2022|      3|    7|        5|                      28|                    209|                      30|            2022-07-31|
+------------+----------+----------+----------+--------+--------------+----------+----------+-------------------+----+-------+-----+---------+------------------------+-----------------------+------------------------+----------------------+

df: org.apache.spark.sql.DataFrame = [current_date: date, add_months: date ... 15 more fields]
df: org.apache.spark.sql.DataFrame = [current_date: date, add_months: date ... 15 more fields]

##### Timestamp functions

In [134]:
var df = Seq(1).toDF().select(current_timestamp().as("current_date"))
df = df.select(
    col("current_date"),
    hour(col("current_date")).as("hour"),
    minute(col("current_date")).as("minute"),
    second(col("current_date")).as("second"),
    to_timestamp(lit("2019-07-01 12:01:19.000"), "yyyy-MM-dd HH:mm:ss.SSS").as("to_timestamp")
)
df.show(false)

+--------------------------+----+------+------+-------------------+
|current_date              |hour|minute|second|to_timestamp       |
+--------------------------+----+------+------+-------------------+
|2022-07-28 17:12:02.927974|17  |12    |2     |2019-07-01 12:01:19|
+--------------------------+----+------+------+-------------------+

df: org.apache.spark.sql.DataFrame = [current_date: timestamp, hour: int ... 3 more fields]
df: org.apache.spark.sql.DataFrame = [current_date: timestamp, hour: int ... 3 more fields]

<h1 style="color: gray;">Working with Nulls</h1>

In [6]:
import org.apache.spark.sql.functions._
val dummyDF = List(("column1", "column2"), (null, null)).toDF
var df = spark.sql("Select cast(null as string) as column1, 'column2' as column2")
df = df.union(dummyDF)
df.show(false)

var dfStringTransformations = Map(("column1" -> col("column1")))
dfStringTransformations += ("column2" -> col("column2").as("column2"))
dfStringTransformations += ("coalesce" -> coalesce(col("column1"), col("column2")).as("coalesce"))
                            
val transformations = (for ((key, value) <- dfStringTransformations) yield dfStringTransformations(key)).toSeq

df.select(transformations: _*).show()

+-------+-------+
|column1|column2|
+-------+-------+
|null   |column2|
|column1|column2|
|null   |null   |
+-------+-------+

+-------+-------+--------+
|column1|column2|coalesce|
+-------+-------+--------+
|   null|column2| column2|
|column1|column2| column1|
|   null|   null|    null|
+-------+-------+--------+

import org.apache.spark.sql.functions._
dummyDF: org.apache.spark.sql.DataFrame = [_1: string, _2: string]
df: org.apache.spark.sql.DataFrame = [column1: string, column2: string]
df: org.apache.spark.sql.DataFrame = [column1: string, column2: string]
dfStringTransformations: scala.collection.immutable.Map[String,org.apache.spark.sql.Column] = Map(column1 -> column1, column2 -> column2 AS column2, coalesce -> coalesce(column1, column2) AS coalesce)
transformations: Seq[org.apache.spark.sql.Column] = List(column1, column2 AS column2, coalesce(column1, column2) AS coalesce)

```sql
-- in SQL
SELECT
    ifnull(null, 'return_value'),
    nullif('value', 'value')
    nvl(null, 'return_value'),
    nvl2('not_null', 'return_value', "else_value")
FROM dfTable LIMIT 1


>> 
    +------------+----+------------+------------+
    | a          | b  | c          | d          |
    +------------+----+------------+------------+
    |return_value|null|return_value|return_value|
    +------------+----+------------+------------+
```

Remove Any row in which Any value is null: ```df.na.drop()``` = ```df.na.drop("any")```

Remove Any row if <b style="color:red;">ALL values</b> are null. <br>
Also, <b style="color:red;">ALL could be applied to certain columns</b>, by passing an array of columns

In [7]:
df.na.drop().show()
df.na.drop("any").show()
df.na.drop("all").show()
df.na.drop("all", Seq("column1")).show()

+-------+-------+
|column1|column2|
+-------+-------+
|column1|column2|
+-------+-------+

+-------+-------+
|column1|column2|
+-------+-------+
|column1|column2|
+-------+-------+

+-------+-------+
|column1|column2|
+-------+-------+
|   null|column2|
|column1|column2|
+-------+-------+

+-------+-------+
|column1|column2|
+-------+-------+
|column1|column2|
+-------+-------+

#### Filling columns

In [13]:
df.show
df.na.fill("All Null values become this string").show()
// in Scala
val fillColValues = Map("column1" -> 5, "column2" -> "No Value")
df.na.fill(fillColValues).show
df.na.replace("column1", Map("column1" -> "UNKNOWN")).show

+-------+-------+
|column1|column2|
+-------+-------+
|   null|column2|
|column1|column2|
|   null|   null|
+-------+-------+

+--------------------+--------------------+
|             column1|             column2|
+--------------------+--------------------+
|All Null values b...|             column2|
|             column1|             column2|
|All Null values b...|All Null values b...|
+--------------------+--------------------+

+-------+--------+
|column1| column2|
+-------+--------+
|      5| column2|
|column1| column2|
|      5|No Value|
+-------+--------+

+-------+-------+
|column1|column2|
+-------+-------+
|   null|column2|
|UNKNOWN|column2|
|   null|   null|
+-------+-------+

fillColValues: scala.collection.immutable.Map[String,Any] = Map(column1 -> 5, column2 -> No Value)

<h1 style="color: gray;">Ordering</h1>

In [22]:
df.sort(col("column1")).show() //By default, asc
df.sort(col("column2").desc).show()
df.sort(col("column2").asc_nulls_first).show()// asc_nulls_first, desc_nulls_first,asc_nulls_last, or desc_nulls_last

+-------+-------+
|column1|column2|
+-------+-------+
|   null|column2|
|   null|   null|
|column1|column2|
+-------+-------+

+-------+-------+
|column1|column2|
+-------+-------+
|   null|column2|
|column1|column2|
|   null|   null|
+-------+-------+

+-------+-------+
|column1|column2|
+-------+-------+
|   null|   null|
|   null|column2|
|column1|column2|
+-------+-------+

<h1 style="color: gray;">Structs</h1>
You can think of structs as DataFrames within DataFrames

In [22]:
import org.apache.spark.sql.types._
import org.apache.spark.sql.Row

val structureSchema = new StructType()
    .add("name",new StructType()
    .add("firstname",StringType)
    .add("middlename",StringType)
    .add("lastname",StringType))
    .add("id",StringType)
    .add("gender",StringType)
    .add("salary",IntegerType)


val structureData = Seq(
    Row(Row("James ","","Smith"),"36636","M",3100),
    Row(Row("Michael ","Rose",""),"40288","M",4300),
    Row(Row("Robert ","","Williams"),"42114","M",1400),
    Row(Row("Maria ","Anne","Jones"),"39192","F",5500),
    Row(Row("Jen","Mary","Brown"),"","F",-1)
  )
val df = spark.createDataFrame(spark.sparkContext.parallelize(structureData),structureSchema)
df.printSchema()
df.show(false)

df.select(col("name").getField("firstname")).show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------------------+-----+------+------+
|name                 |id   |gender|salary|
+---------------------+-----+------+------+
|{James , , Smith}    |36636|M     |3100  |
|{Michael , Rose, }   |40288|M     |4300  |
|{Robert , , Williams}|42114|M     |1400  |
|{Maria , Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}   |     |F     |-1    |
+---------------------+-----+------+------+

+--------------+
|name.firstname|
+--------------+
|        James |
|      Michael |
|       Robert |
|        Maria |
|           Jen|
+--------------+

import org.apache.spark.sql.types._
import org.apache.spark.sql.Row
structureSchema: org.apache.spark.sql.types.StructType = StructType(StructField(name,StructType(StructField(firstname,StringType,true),StructField(middlename,StringType,true),StructField(lastname,StringType,true)),true),StructField(id,StringType,true),StructField(gender,StringType,true),StructField(salary,IntegerType,true))
structureData: Seq[org.apache.spark.sql.Row] = List([[James ,,Smith],36636,M,3100], [[Michael ,Rose,],40288,M,4300], [[Robert ,,Williams],42114,M,1400], [[Maria ,Anne,Jones],39192,F,5500], [[Jen,Mary,Brown],,F,-1])
df: org.apache.spark.sql.DataFrame = [name: struct<firstname: string, middlename: string ... 1 more field>, id: string ... 2 more fields]

<h1 style="color: gray;">Arrays</h1>

In [23]:
val data = Seq(Row("James,,Smith",List("Java","Scala","C++"),List("Spark","Java"),"OH","CA"),
                             Row("Michael,Rose,",List("Spark","Java","C++"),List("Spark","Java"),"NY","NJ"),
                             Row("Robert,,Williams",List("CSharp","VB"),List("Spark","Python"),"UT","NV"))
val schema = new StructType()
    .add("name",StringType)
    .add("languagesAtSchool", ArrayType(StringType))
    .add("languagesAtWork", ArrayType(StringType))
    .add("currentState", StringType)
    .add("previousState", StringType)
val df = spark.createDataFrame(spark.sparkContext.parallelize(data),schema)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- languagesAtSchool: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- languagesAtWork: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- currentState: string (nullable = true)
 |-- previousState: string (nullable = true)

+----------------+------------------+---------------+------------+-------------+
|            name| languagesAtSchool|languagesAtWork|currentState|previousState|
+----------------+------------------+---------------+------------+-------------+
|    James,,Smith|[Java, Scala, C++]|  [Spark, Java]|          OH|           CA|
|   Michael,Rose,|[Spark, Java, C++]|  [Spark, Java]|          NY|           NJ|
|Robert,,Williams|      [CSharp, VB]|[Spark, Python]|          UT|           NV|
+----------------+------------------+---------------+------------+-------------+

data: Seq[org.apache.spark.sql.Row] = List([James,,Smith,List(Java, Scala, C++),List(Spark, Java),OH,CA], [Michael,Rose,,List(Spark, Java, C++),List(Spark, Java),NY,NJ], [Robert,,Williams,List(CSharp, VB),List(Spark, Python),UT,NV])
schema: org.apache.spark.sql.types.StructType = StructType(StructField(name,StringType,true),StructField(languagesAtSchool,ArrayType(StringType,true),true),StructField(languagesAtWork,ArrayType(StringType,true),true),StructField(currentState,StringType,true),StructField(previousState,StringType,true))
df: org.apache.spark.sql.DataFrame = [name: string, languagesAtSchool: array<string> ... 3 more fields]

In [34]:
df.select(split(col("name"), ",").as("split"), col("*")).show()
df.select(split(col("name"), ",").as("split"))
.selectExpr("split[0]").show(2) // Getting an specific element
df.select(split(col("name"), ",").as("split"))
.select(size(col("split"))).show(2)//size of array
df.select(split(col("name"), ",").as("split"))
.select(array_contains(col("split"), "James")).show()//arrays contains an element
df.select(split(col("name"), ",").as("split"))
.select(explode(col("split")).as("explode")).show()//arrays contains an element

+--------------------+----------------+------------------+---------------+------------+-------------+
|               split|            name| languagesAtSchool|languagesAtWork|currentState|previousState|
+--------------------+----------------+------------------+---------------+------------+-------------+
|    [James, , Smith]|    James,,Smith|[Java, Scala, C++]|  [Spark, Java]|          OH|           CA|
|   [Michael, Rose, ]|   Michael,Rose,|[Spark, Java, C++]|  [Spark, Java]|          NY|           NJ|
|[Robert, , Williams]|Robert,,Williams|      [CSharp, VB]|[Spark, Python]|          UT|           NV|
+--------------------+----------------+------------------+---------------+------------+-------------+

+--------+
|split[0]|
+--------+
|   James|
| Michael|
+--------+
only showing top 2 rows

+-----------+
|size(split)|
+-----------+
|          3|
|          3|
+-----------+
only showing top 2 rows

+----------------------------+
|array_contains(split, James)|
+----------------------------+
|                        true|
|                       false|
|                       false|
+----------------------------+

+--------+
| explode|
+--------+
|   James|
|        |
|   Smith|
| Michael|
|    Rose|
|        |
|  Robert|
|        |
|Williams|
+--------+

<h1 style="color: gray;">Maps</h1>
Mptype can be understood as the dynamic version of structType, because with structs you need to define in the schema each of the keys that map to the other structure, whilist in map, you dont.

In [55]:
import org.apache.spark.sql.types.DataTypes
val mapColSimple = DataTypes.createMapType(StringType, StringType) // Eg: Map(5-> "cinco")
val mapColComplex = DataTypes.createMapType(
    StringType,
    StructType(
        Array(
            StructField("col1",StringType),
            StructField("col2",StringType )
        )
    ) 
) //Map("vocales" -> ['a', 'e', 'i', 'o', 'u'])


def getSchema: StructType = {
    val mapType  = DataTypes.createMapType(StringType,StringType)
    val arrayStructureSchema = new StructType()
        .add("name",StringType)
        .add("addresses", ArrayType(new StructType()
          .add("city",StringType)
          .add("state",StringType)))
        .add("properties", mapType)
        .add("secondProp", MapType(StringType,StringType))
    arrayStructureSchema
}

def getData: Seq[Row] = {
    val arrayStructureData = Seq(
        Row(
            "James",
            List(Row("Newark","NY"), Row("Brooklyn","NY")),
            Map("hair"->"black","eye"->"brown"), 
            Map("height"->"5.9")
        ),
        Row(
            "Michael",
            List(Row("SanJose","CA"),Row("Sandiago","CA")),
            Map("hair"->"brown","eye"->"black"),
            Map("height"->"6")
        )
    )
    arrayStructureData
}


val mapTypeDF = spark.createDataFrame(spark.sparkContext.parallelize(getData), getSchema)
mapTypeDF.printSchema()
mapTypeDF.show(false)

root
 |-- name: string (nullable = true)
 |-- addresses: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- state: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- secondProp: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+-------+-------------------------------+-----------------------------+---------------+
|name   |addresses                      |properties                   |secondProp     |
+-------+-------------------------------+-----------------------------+---------------+
|James  |[{Newark, NY}, {Brooklyn, NY}] |{hair -> black, eye -> brown}|{height -> 5.9}|
|Michael|[{SanJose, CA}, {Sandiago, CA}]|{hair -> brown, eye -> black}|{height -> 6}  |
+-------+-------------------------------+-----------------------------+---------------+

import org.apache.spark.sql.types.DataTypes
mapColSimple: org.apache.spark.sql.types.MapType = MapType(StringType,StringType,true)
mapColComplex: org.apache.spark.sql.types.MapType = MapType(StringType,StructType(StructField(col1,StringType,true),StructField(col2,StringType,true)),true)
getSchema: org.apache.spark.sql.types.StructType
getData: Seq[org.apache.spark.sql.Row]
mapTypeDF: org.apache.spark.sql.DataFrame = [name: string, addresses: array<struct<city:string,state:string>> ... 2 more fields]

In [60]:
mapTypeDF.select(col("name"),map_keys(col("properties"))).show(false)
mapTypeDF.select(col("name"),map_values(col("properties"))).show(false)
mapTypeDF.select(col("name"),map_concat(col("properties"),col("secondProp"))).show(false) //apppend
mapTypeDF.select(element_at(col("properties"), "hair")).show(false)

+-------+--------------------+
|name   |map_keys(properties)|
+-------+--------------------+
|James  |[hair, eye]         |
|Michael|[hair, eye]         |
+-------+--------------------+

+-------+----------------------+
|name   |map_values(properties)|
+-------+----------------------+
|James  |[black, brown]        |
|Michael|[brown, black]        |
+-------+----------------------+

+-------+--------------------------------------------+
|name   |map_concat(properties, secondProp)          |
+-------+--------------------------------------------+
|James  |{hair -> black, eye -> brown, height -> 5.9}|
|Michael|{hair -> brown, eye -> black, height -> 6}  |
+-------+--------------------------------------------+

+----------------------------+
|element_at(properties, hair)|
+----------------------------+
|black                       |
|brown                       |
+----------------------------+